<% layout('layout') -%>

<h1>Welcome to Chat App Beta</h1>
<div id='login' class='login_form'></div>
<br/><br/>
<textarea id='username' class='login_username'></textarea>
<br/>
<textarea id='groupname' class='login_groupname'></textarea>
<br/>
<button align='center' id='login_button'>Connect!</button>
 